<div class="layout-topbar">
  <div class="layout-topbar-logo-container">

  </div>
  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <button type="button" class="layout-topbar-action"><i class="pi pi-sun">a</i></button>
      <div class="relative">
        <button pstyleclass="@next" enterfromclass="hidden" enteractiveclass="animate-scalein" leavetoclass="hidden" leaveactiveclass="animate-fadeout" class="layout-topbar-action layout-topbar-action-highlight">
          <i class="pi pi-palette">s</i></button>
      </div>
    </div>
  </div>
</div>
