.layout-sidebar {
  position: fixed;
    width: 20rem;
    height: calc(100vh - 8rem);
    z-index: 999;
    overflow-y: auto;
    -webkit-user-select: none;
    user-select: none;
    top: 6rem;
    left: 2rem;
    background-color: grey;
    border-radius: 2rem;
    padding: .5rem 1.5rem;
}
