/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import 'primeicons/primeicons.css';

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #F1F5F9;
}
